<div class="row-layout goals-wrapper">
  <div class="column-layout main-goals-container">
    <div class="row-layout goals-actions-header">
      <div class="column-layout goals-info">
        <h3 class="goals-page-title">
          Life Operating Key Objectives (OKRs)
        </h3>
        <p class="goals-page-description">
          Quarterly milestones, progress parameters, and autonomous habit synchronisations.
        </p>
      </div>
      <div class="row-layout goals-header-actions">
        <button igxButton="contained" type="button" class="create-goal-button">
          <igx-icon>
            add
          </igx-icon>
          <span>New Key Objective</span>
        </button>
      </div>
    </div>
    <div class="row-layout okr-grid">
      <igx-card class="saa-s-goal-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Deploy SaaS Side Project
          </h3>
          <h5 igxCardHeaderSubtitle>
            Due: Q1 End
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-dftmij">
            <p class="goals-page-description">
              Launch beta engine, incorporate biometric verification layer, onboard initial 50 testers.
            </p>
            <div class="row-layout row-layout-rcxbld">
              <igx-badge value="In Progress" class="badge-rfgph"></igx-badge>
              <igx-circular-bar [value]="65" [animationDuration]="500" class="circular-bar-mjmau-9"></igx-circular-bar>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="saa-s-goal-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Complete Half Marathon Run
          </h3>
          <h5 igxCardHeaderSubtitle>
            Due: Q2 Start
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-dftmij">
            <p class="goals-page-description">
              Achieve aerobic physical conditioning benchmarks. Track weekly progression routines.
            </p>
            <div class="row-layout row-layout-rcxbld">
              <igx-badge type="warning" value="Reviewing" class="badge-rfgph"></igx-badge>
              <igx-circular-bar type="warning" [value]="40" [animationDuration]="500" class="circular-bar-vfna-1-4"></igx-circular-bar>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
      <igx-card class="saa-s-goal-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Emergency Node Allocation
          </h3>
          <h5 igxCardHeaderSubtitle>
            Due: Q1 Mid
          </h5>
        </igx-card-header>
        <igx-card-content>
          <div class="column-layout column-layout-dftmij">
            <p class="goals-page-description">
              Amass 6 months worth of essential operating cash flows into highly secure high-yield vault.
            </p>
            <div class="row-layout row-layout-rcxbld">
              <igx-badge type="success" value="Almost Sync" class="badge-rfgph"></igx-badge>
              <igx-circular-bar type="success" [value]="80" [animationDuration]="500" class="circular-bar-1ohs-4b"></igx-circular-bar>
            </div>
          </div>
        </igx-card-content>
      </igx-card>
    </div>
  </div>
</div>
