:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.row-layout {
  display: flex;
}
.dashboard-wrapper {
  background-color: #09090B;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.main-dashboard-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.header-area {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.header-row {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.welcome-text {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.metrics {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.spending-metric {
  --background: #18181B;
  --border-radius: 24px;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.spending-core-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.spending-trend {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 0 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.stats-overview {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.spending-analytics-wrapper {
  background-color: #18181B;
  border-radius: 24px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px 0;
  position: relative;
  padding: 24px;
  min-width: 360px;
  flex: 2 0 0;
}
.chart-header {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.schedule-wrapper {
  background-color: #18181B;
  border-radius: 24px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px 0;
  position: relative;
  padding: 24px;
  min-width: 360px;
  flex: 1 0 0;
}
.content {
  color: #FFFFFF;
  height: max-content;
  min-width: min-content;
}
.welcome-subtitle {
  color: var(--ig-gray-400);
  height: max-content;
  min-width: min-content;
}
.weather-status {
  width: max-content;
  height: max-content;
}
.icon-9sjdgd {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #6366F1;
}
.spending-icon {
  --igx-avatar-background: #18181B;
}
.icon {
  color: #6366F1;
}
.spending-trend-rate {
  color: var(--ig-success-500);
  height: max-content;
  min-width: min-content;
}
.item-avatar-1 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: #09090B;
}
.spending-icon::part(base) {
  --igx-avatar-color: #6366F1;
}
.item-avatar-1::part(base) {
  --igx-avatar-color: #6366F1;
}
.ai-summary {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button-5bwtk-7 {
  --foreground: #6366F1;
  --ig-size: var(--ig-size-small);
  height: max-content;
}
.outflow-chart {
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.todays-timeline {
  height: max-content;
}
.item-sched-1 {
  --item-background: #18181B;
  --item-background-hover: var(--ig-list-item-background-hover, lch(from var(--item-background) calc(l + (50 - l) * 0.1 + sign(50 - l) * 5) c h));
  --item-background-active: var(--ig-list-item-background-active, var(--item-background-hover));
  --item-background-selected: var(--ig-list-item-background-selected, var(--item-background-active));
  --item-text-color: #FFFFFF;
  --item-text-color-hover: #FFFFFF;
  --item-text-color-active: #FFFFFF;
  --item-text-color-selected: #FFFFFF;
  --item-title-color: #FFFFFF;
  --item-title-color-hover: #FFFFFF;
  --item-title-color-active: #FFFFFF;
  --item-title-color-selected: #FFFFFF;
  --item-action-color: #FFFFFF;
  --item-action-color-hover: #FFFFFF;
  --item-action-color-active: #FFFFFF;
  --item-action-color-selected: #FFFFFF;
  --item-subtitle-color: #FFFFFF;
  --item-subtitle-color-hover: #FFFFFF;
  --item-subtitle-color-active: #FFFFFF;
  --item-subtitle-color-selected: #FFFFFF;
  --item-thumbnail-color: #FFFFFF;
  --item-thumbnail-color-hover: #FFFFFF;
  --item-thumbnail-color-active: #FFFFFF;
  --item-thumbnail-color-selected: #FFFFFF;
}
